<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Ninjas in Dojo</title>
</head>
<body>
    <div>
        <h1>{{dojo.name}} Ninjas</h1>
        <table>
            <thread>
                <tr>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th>Age:</th>
                </tr>
            </thread>
            <tbody>
                {% for ninja in dojo.ninjas %}
                <tr>
                    <th>{{ninja.first_name}}</th>
                    <th>{{ninja.last_name}}</th>
                    <th>{{ninja.age}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href='/' class="btn btn-default">Home</a>
    </div>
</body>
</html>