<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
        * button{
            height: 30px;
            width: 100px;
            border-radius: 10px;
        }
    </style>
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h2>{{session['count']}}</h2>
    <form action="/count" method="POST">
        <button type="submit" class="add" name="update" value="add" style="background-color:lightblue"> Click</button>
        <button type="submit" class="add2" name="update" value="add2" style="background-color:lightgreen"> + 2</button>
        <button type="submit" class="reset" name="update" value="reset" style="background-color:red"> Reset</button>
    </form>
</body>
</html>